@import url('https://fonts.googleapis.com/css2?family=Itim&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}
main{
    padding: 30px;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(325deg, #2b1235, #542662 , #8b3a9f);
}
.first-section{
    position: static;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(400px,1fr));
    gap: 20px;
}
.left-side{
    height: 240px;
}
.advertisement{
    display: flex;
    gap: 30px;
    height: 150px;
}
.advertisement-logo{
    width: 23%;
}
.advertisement-slogan{
    width: 55%;
}
.input-search{
    display: flex;
    border: 2px solid white;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    height: 90px;
}
.input-search input{
    border: none;
    width: 90%;
    color: white;
    padding: 25px 33px;
    background: none;
    font-size: 30px;
}
.input-search button{
    cursor: pointer;
    background: none;
    border-radius: 30px;
    width: 90px;
    border: none;
}
.input-search input::placeholder{
    color: white;
    font-size: 30px;
    opacity: 1;
}
.right-side{
    position: relative;
    height: 240px;
    display: flex;
    gap: 40px;
    align-items: center;
    border: 2px solid white;
    border-radius: 30px;
}
.playing-photo img{
    margin-left: 30px;
    width: 140px;
    height: 140px;
    border: 1px solid #702B81;
    border-radius: 100px;
}
.playing-info{
    width: 40%;
}
.playing-info img{
    width: 100%;
    margin-bottom: 5px;
}
.playing-info .title{
    font-family: "Itim", cursive;
    font-size: 30px;
    color: white;
    max-height: 50px;
    line-height: 25px;
    margin-bottom: 5px;
    overflow: hidden;
}
.playing-info .artist{
    font-family: "Itim", cursive;
    font-size: 24px;
    line-height: 20px;
    color: white;
    margin-bottom: 5px;
}
.progress {
    margin-top: 10px;
    width: 100%;
}
.progress input[type="range"]{
    -webkit-appearance: none;
    background-color: #fff;
    cursor: pointer;
    border-radius: 30px;
}
.progress input[type="range"]::-webkit-slider-runnable-track{
    border-radius: 30px;
    height: 6px;
}
.progress input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    background: #702B81;
    height: 15px;
    border-radius: 100px;
    width: 15px;
    margin-top: -5px;

}
.progress input[type="range"]{
    width: 100%;
}
.controls{
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.controls .prev-btn img{
    width: 25px;
}
.controls button {
    background: none;
    border: none;
    cursor: pointer;
}
.controls button img{
    width: 20px;
}
.volume{
    position: absolute;
    right: -30px;
}
.volume input[type="range"]{
    -webkit-appearance: none;
    transform: rotate(-90deg);
    width: 180px;
    height: 32px;
    background: white;
    border-radius: 30px;
    overflow: hidden;
    cursor: pointer;
}
.volume input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 32px;
    height: 32px;
    background: #9949ad;
    border-radius: 0 30px 30px 0;
    cursor: pointer;
}
.second-section{
    display: flex;
    gap: 10px;
}
.progress input[type="range"]::-moz-progress-bar{
    background-color: #2C1435;
}
.carousel {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
}
.carousel::-webkit-scrollbar { display: none; }

.card {
    flex: 0 0 200px;
    height: 370px;
    color: #fff;
    display: flex;
    width: 200px;
    align-items: center;
    flex-direction: column;
    border-radius: 30px;
    scroll-snap-align: start;
    background: linear-gradient(45deg , #6E5A8A , #8A79A8, #B8A6CC);
}
.card h3{
    overflow: hidden;
    max-height: 48px;
    width: 150px;
    text-align: center;
}
.card p{
    text-align: center;
}
.card img{
    margin-top: 55px;
    width: 170px;
    height: 170px;
    border: 1px solid #702B81;
    border-radius: 100px;
    margin-bottom: 20px;
}
.color-0{ background: linear-gradient(45deg , #6E5A8A , #8A79A8, #B8A6CC);}
.color-1{ background: linear-gradient(45deg , #A06D52 , #C58F73, #C58F73);}
.color-2{ background: linear-gradient(45deg , #9C9154 , #BFB470, #E3DDA8);}
.color-3{background: linear-gradient(45deg , #4C6F82 , #6B8FA3, #9DBAC9);}
.color-4{ background: linear-gradient(45deg , #8B5D66 , #A87A83, #D1ACB1);}
.color-5{ background: linear-gradient(45deg , #5D7C65 , #7F9E86, #ADC7B3);}


@media (max-width: 1200px) {
.left-side{
    height: 220px;
}
.advertisement{
    height: 150px;
}
.advertisement-logo{
    width: 20%;
}
.advertisement-slogan{
    width: 50%;
}
.input-search{
    height: 70px;
}
.input-search input{
    padding: 23px 30px;
    font-size: 27px;
}
.input-search button{
    width: 70px;
}
.input-search input::placeholder{
    font-size: 24px;
}
.right-side{
    height: 220px;
    gap: 20px;
}
.playing-photo img{
    margin-left: 25px;
    width: 120px;
    height: 120px;
}
.playing-info{
    width: 45%;
}
.playing-info .title{
    font-size: 27px;
    max-height: 37px;
    line-height: 19px;
}
.playing-info .artist{
    font-size: 20px;
    line-height: 18px;
    margin-bottom: 3px;
}
.progress {
    margin-top: 7px;
}
.controls .prev-btn img{
    width: 22px;
}
.controls button img{
    width: 17px;
}
.volume{
    right: -43px;
}
.volume input[type="range"]{
    width: 150px;
    height: 25px;
}
.volume input[type="range"]::-webkit-slider-thumb {
    width: 25px;
    height: 25px;
}
.second-section{
    display: flex;
    gap: 10px;
}
.card {
    flex: 0 0 180px;
    height: 350px;
    width: 200px;
}

.card img{
    width: 150px;
    height: 150px;
}

}

@media (max-width: 940px) {
   main{
        padding: 20px;  
        height: auto;
    }
    .first-section{
        display: flex;
        flex-direction: column;
    }
    .left-side{
        height: auto;
    }
    .advertisement{
        height: auto;
        margin-bottom: 10px;
    }
    .advertisement-logo{
        width: 23%;
    }
    .advertisement-slogan{
        width: 46%;
    }
    .input-search{
        height: 60px;
    }
    .input-search input{
        padding: 20px 26px;
        font-size: 23px;
    }
    .input-search button{
        width: 60px;
    }
    .input-search input::placeholder{
        color: white;
        font-size: 23px;
        opacity: 1;
    }
    .right-side{
        /* height: 240px; */
        height: auto;
        gap: 15px;
    }
    .playing-photo img{
        margin-left: 20px;
        width: 110px;
        height: 110px;
    }
    .playing-info{
        margin-top: 25px;
        width: 40%;
    }
    .playing-info .title{
        font-size: 25px;
        line-height: 21px;
        margin-top: 5px;
        margin-bottom: 10px;
        overflow: visible;
    }
    .playing-info .artist{
        font-size: 18px;
        line-height: 18px;
        margin-bottom: 10px;
        overflow: visible;
    }
    .progress {
        margin-top: 10px;
        width: 100%;
    }
    .progress input[type="range"]::-webkit-slider-runnable-track{
        border-radius: 30px;
        height: 6px;
    }
    .progress input[type="range"]::-webkit-slider-thumb{
        height: 15px;
        border-radius: 100px;
        width: 15px;
        margin-top: -5px;

    }
    .progress input[type="range"]{
        width: 100%;
    }
    .controls{
        margin-top: 5px;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }
    .controls .prev-btn img{
        width: 25px;
    }
    .controls button {
        background: none;
        border: none;
        cursor: pointer;
    }
    .controls button img{
        width: 20px;
    }
    .volume{
        position: absolute;
        right: -30px;
    }
    .volume input[type="range"]{
        width: 150px;
        height: 25px;
    }
    .volume input[type="range"]::-webkit-slider-thumb {
        width: 25px;
        height: 25px;
    }
    .second-section{
        width: 100%;
    }
    .carousel {
        margin-top: 30px;
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: 30px;
        overflow-x: hidden;
        overflow-y: auto;
        scroll-snap-type: y mandatory;
    }

    .card {
        flex: 0 0 auto;
        height: 150px;
        width: 100%;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
        border-radius: 30px;
        /* gap: 20px; */
    }
    .card h3{
        text-align: left;
        width: auto;
        max-width: 100%;
    }
    .card p{
        text-align: left;
    }
    .card img{
        margin: 0 20px;
        width: 110px;
        height: 110px;
    }
}
@media screen and (max-width: 600px) {
    
}